* {
	padding:0;
	margin:0;
}

.items >div {
	display:inline-block;
	
	width:160px;
	margin:0.5rem;
	
	text-align:center;
}

.items >div >h3 {
	font-size: 1rem;
}

.items >div .wrapper {
	display: inline-block;
	
	width:128px;
	height:128px;
}

.items >div .wrapper >img:hover {
	opacity:0;
}
